<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li
			data-target="#carouselExampleIndicators"
			data-slide-to="0"
			class="active"
		></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="carousel-item active"id="c-item">
			<img class="d-block w-80" src="/static/img/idea.jpg" alt="First slide" />
			<div class="carousel-caption d-none d-md-block" id="c-text">
				<h5>Got new ideas?</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet
					luctus nibh. In hac habitasse platea dictumst. Fusce efficitur aliquet
					ex sed sodales. Proin aliquet molestie est, eget gravida metus congue
					ac. Sed eu justo nec magna finibus dictum vitae eu elit. Morbi varius
					molestie risus. Nam sit amet arcu ut risus porttitor dapibus.
				</p>
			</div>
		</div>

		<div class="carousel-item" id="c-item">
			<img src="/static/img/stuck.jpg" alt="..." />
			<div class="carousel-caption d-none d-md-block" id="c-text">
				<h5>can't work it out?</h5>
				<p>
					.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet
					luctus nibh. In hac habitasse platea dictumst. Fusce efficitur aliquet
					ex sed sodales. Proin aliquet molestie est, eget gravida metus congue
					ac. Sed eu justo nec magna finibus dictum vitae eu elit. Morbi varius
					molestie risus. Nam sit amet arcu ut risus porttitor dapibus.
				</p>
			</div>
		</div>

		<div class="carousel-item"id="c-item">
			<img src="/static/img/coding.jpg" alt="..." />
			<div class="carousel-caption d-none d-md-block" id="c-text">
				<h5>We Are Here to Help!</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet
					luctus nibh. In hac habitasse platea dictumst. Fusce efficitur aliquet
					ex sed sodales. Proin aliquet molestie est, eget gravida metus congue
					ac. Sed eu justo nec magna finibus dictum vitae eu elit. Morbi varius
					molestie risus. Nam sit amet arcu ut risus porttitor dapibus.
				</p>
			</div>
		</div>
	</div>

	<a
		class="carousel-control-prev"
		href="#carouselExampleIndicators"
		role="button"
		data-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	</a>
	<a
		class="carousel-control-next"
		href="#carouselExampleIndicators"
		role="button"
		data-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
	</a>
</div>
