<div id ="card-box">
    <div class="card-item" type = "button" data-toggle="modal" data-target="#Modal1" style="width: 18rem;">
      <img src="/static/img/cards/animation.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Animation</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <hr> 
    </div>
  
    <div class="card-item" type = "button" data-toggle="modal" data-target="#Modal2" style="width: 18rem;">
      <img src="/static/img/cards/data.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Data Science</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <hr>
    </div>
  
    <div class="card-item" type = "button" data-toggle="modal" data-target="#Modal3" style="width: 18rem;">
      <img src="/static/img/cards/mobile.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Mobile Application</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <hr>
    </div>
  
    <div class="card-item" type = "button" data-toggle="modal" data-target="#Modal4" style="width: 18rem;">
      <img src="/static/img/cards/web.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Web Application</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <hr>
    </div>
  
    <div class="card-item" type = "button" data-toggle="modal" data-target="#Modal5" style="width: 18rem;">
      <img src="/static/img/cards/frontend.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Front End</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <hr>
    </div>
  
  </div>