<div class="jumbotron custom-jumbotron">
	<h1 class="display-4">"Hello, world!", made easy</h1>
	<p class="lead">
		Step into our innovative digital ecosystem, a dynamic platform designed to
		foster entrepreneurship and ignite the creative potential of students
		worldwide. At our website, we provide a nurturing environment where aspiring
		entrepreneurs can incubate and cultivate their million-dollar ideas. It's a
		place where the spark of creativity meets the tools and resources needed to
		turn dreams into reality. Whether you're a budding inventor, a visionary
		thinker, or simply someone with a passion for innovation, our platform
		offers the ideal space to share, collaborate, and refine ideas with
		like-minded individuals. Join our vibrant community and embark on a journey
		of exploration, learning, and growth as we collectively shape the landscape
		of tomorrow's business world.
	</p>
	<hr class="my-4" />
	<p>
		It uses utility classes for typography and spacing to space content out
		within the larger container.
	</p>
	<p class="lead">
		<a
			class="btn btn-outline-success btn-lg"
			id="jumbotron-button"
			href="#"
			role="button"
			>Learn more</a
		>
	</p>
</div>
