
<style>
    .feed-container {
        display: flex;
        width: 70%;
        margin: auto;
        border: 1px solid #ccc; /* Add border for feed container */
        padding: 10px; /* Add padding for feed container */
        background-image: linear-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
    }
    
    .profile-picture1 {
        border: 3px solid rgb(116, 116, 116);
        background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
        overflow: hidden;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 10px;
        flex-grow: 1;
    }
    
    .profile-picture1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .feed-content {
        background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
        width: 85%;
        padding: 10px;
        flex-grow: 8;
    }
    
    h3 {
        margin-top: 0;
    }
    
    /* Style for feed title and description */
    .feed-content h3 {
        font-size: 40px;
        margin-bottom: 5px;
    }
    
    .feed-content p {
        margin-left: 20px;
        font-size: 16px;
        margin-top: 0;
    }

    #colab-btn {
        float: right;
    }

    .badge-sm {
        float: right;
        font-size: 1rem; /* Adjust the font size as needed */
        padding: 0.4rem 0.5rem; /* Adjust the padding as needed */
    }

    .modal-body {
        height: 150px;
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .modal-footer {
        height: 70px;
    }
    .modal-footer btn{
        margin: auto;
        padding: 2px;
    }
    #collaborationMessage {
        max-height: 200px; /* Adjust the value as needed */
        overflow-y: auto; /* Enable vertical scrolling */
    }
    
</style>

<div class="feed-container">
	<div class="profile-picture1">
		<!-- Add the profile picture of the user who made the post -->
        <span  tabindex="0" data-toggle="tooltip" title="{{post_data.user.name}}">
            <img 
            id="avatar"
            src="{{ url_for('static', filename='avatars/' + post_data.user.avatar.avatar_url_s) }}"
            alt="Avatar"
        />
        </span>
	</div>
	<div class="feed-content">
		<!-- Display the title and description of the post made by other user -->
		<h4>{{post_data.title}}
            {% for tag in post_data.tags%}
            <span class="badge rounded-pill bg-info text-light badge-sm">{{tag.name}}</span>
            {%endfor%}
        </h4>
		<p>{{post_data.content}}</p>
        {% if session.user_id != post_data.user_id %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#collaborationModal" id="colab-btn" data-username="{{ post_data.user.name }}">request for collaboration</button>
        

        <!-- MODAL FOR -->
        <div class="modal fade" id="collaborationModal" tabindex="-1" role="dialog" aria-labelledby="collaborationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="collaborationModalLabel">Collaboration Request for {{post_data.user.name}}</h5>
                </div>
                
                <form id="sendMessageForm" method ="POST" action = "{{ url_for('message_controller.send_message') }}">
                        <div class="modal-body">
                            <input type="hidden" id="recipient_id" name="recipient_id" value="{{ post_data.user.id }}">
                        <div class="form-group" >
                            <label for="collaborationMessage">Message:</label>
                            <textarea class="form-control" id="collaborationMessage" name="message_content" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Send Request</button>
                    </div>
                </form>
              </div>
            </div>
          </div>


        {% endif %}
    </div>
</div>





