<nav class="navbar navbar-dark bg-dark fixed-top" id="nav_scroll">
	<div class="container-fluid">
		<a class="navbar-brand" id="nav-logo" href="{{ url_for('views.index') }}"
			><h2>IdeaGrove</h2></a
		>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasDarkNavbar"
			aria-controls="offcanvasDarkNavbar"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div
			class="offcanvas offcanvas-end text-bg-dark"
			tabindex="-1"
			id="offcanvasDarkNavbar"
			aria-labelledby="offcanvasDarkNavbarLabel"
		>
			<div
				class="offcanvas-header"
				data-bs-toggle="tooltip"
				data-bs-placement="bottom"
				title="user's page"
			>
				<a class="user-logo" href="{{ url_for('views.user_route') }}">
					<img src="/static/logos/user-white.svg" alt="user-logo" />
				</a>

				{% if 'user_id' in session %}
				<!-- User is in session -->
				<h5
					class="offcanvas-title"
					style="margin: 0 30px 0 10px"
					id="offcanvasDarkNavbarLabel"
				>
					Welcome, {{ session['user_name'] }}!
				</h5>
				<a
					class="btn btn-outline-danger mx-1"
					id="log-out"
					href="{{ url_for('auth_controller.logout') }}"
					>Logout</a
				>
				<!-- Add other content or actions for authenticated users -->
				{% else %}
				<!-- User is not in session -->
				<h5
					class="offcanvas-title"
					style="margin-right: 20px"
					id="offcanvasDarkNavbarLabel"
				>
					Group 13
				</h5>
				<!-- Add login form or other content for non-authenticated users -->
				{% endif %}
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">
						<a
						class="nav-link active"
						aria-current="page"
						href="{{ url_for('views.index') }}"
						>Home</a
						>
					</li>
					{% if 'user_id' in session %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#" data-toggle="modal" data-target="#messagesModal">Messages</a>
					</li>

					<!-- Modal -->

					{% endif %}

					<li class="nav-item">
						<a class="nav-link" href="#about-us">about us!</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Dropdown
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li>
								<hr class="dropdown-divider" />
							</li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
				</ul>
			
			</div>
		</div>
	</div>
</nav>

