{% extends "partials/_layout.html" %}
{% include "partials/_header.html" %}

{% block content %}
<h1>Login Page</h1>
<div class="container" id = "reg-box">
    <div class="row justify-content">
            <div class="card mt-3 shadow"  id="reg-inner" style="opacity: 0.8;">

                <div class="card-body py-4 px-md-4"  >
                    <!-- Registration Form -->
                    <form method="POST" action="{{ url_for('auth_controller.login') }}" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <!-- User_name input -->
                            <div class="form-outline mb-3">
                               <h5>{{ form.user_name.label(class="form-label") }}</h5> 
                                {{ form.user_name(class="form-control") }}
                                {% for error in form.user_name.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <h5>{{ form.password.label(class="form-label") }}</h5>
                                {{ form.password(class="form-control") }}
                                {% for error in form.password.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="bt-row">
                                <button type="submit" class="btn btn-outline-success" id="bt">
                                    Login
                                </button>
                                <a href="{{  url_for('auth_controller.register') }}" class="btn btn-outline-primary" id="bt">
                                    Register page
                                </a>
                        </div>
                    </form>
                </div>


                    
            </div>  
    </div>
</div>
<!-- Add any additional scripts or links to external JS files if needed -->
{% endblock %}
